html, body, #page {
   width: 100%;
   height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style: none;
}

/* Logo */
.Logo {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	width: 100%;
}

.Logo > img {
	display: inline-block;
	width: 100%;
	max-width: 400px;
	padding: 36px;
	margin: 0 auto;
}

/* FB Button */
.FBButton {
	padding: 10px;
	border: none;
	border-radius: 6px;
	background-color: #4c58a2;
    background-image: url('../public/fb-logo.png');
    background-repeat: no-repeat;
    background-size: 45px 30px;
    background-position: center left;
	color: white;
    padding-left: 20px;
}

.MiniLogo {
	width: 200px;
	display: inline-block;
	text-align:center;
	padding: 10px;
}

.MiniLogo > img {
	width: 35px;
}

.ProfilePic {
	width: 100%;
    max-width: 150px;
    left: calc(50% - 75px);
    text-align: center;
    position: relative;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    border-radius: 100%;
}

.ProfilePic > img {
	  width: 150px;
    height: 150px;
    margin-left: 0;
    min-height: 100px;
    border-radius: 100%;
}

.Hello {
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	color: white;
	font-size: 55px;
	text-align: center;
}

/* Home */
.Home {
  background-size: 100% 100%;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.Home > .Logo {
  margin-bottom: 90px;
}

.Home > .Home-message {
    font-family: 'Kaushan Script', cursive;
    display: inline-block;
    font-size:25px;
    margin-bottom: 20px;
    color: white;
     width: 100%;
}

.Home > .FBButton {
  position: relative;
  width: 80%;
  max-width: 316px;
  min-width: 280px;
  text-align: center;
}

.Shine {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
}

.Shine > img.Sun {
  left: calc(50% - 150px);
  position: absolute;
  z-index: 0;
  animation: Home-sun-spin infinite 30s linear;
  height: 150px;
  transition: .5s;
  cursor: pointer;
}

.Shine > img.Cloud {
    position: relative;
    z-index: 1;
    width: 300px;
    opacity: 1;
    transition: opacity .5s;
    cursor: pointer;
}

.Shine:hover > img.Sun {
  animation: Home-sun-spin infinite 20s linear;
  height: 200px;
  left: calc(50% - 100px);
}

.Shine > img.Cloud:hover, .Shine > img.Cloud:active {
     opacity: 0;
}

/*.Shine > .Shine-message {
    position: relative;
    z-index: 2;
    font-size: 34px;
    margin-top: -70px;
    font-family: 'Kaushan Script', cursive;
    color: #7dcbd8;
}*/

@keyframes Home-sun-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Home, .Welcome, .Enjoy {
  background: url("../public/bg.jpg") no-repeat;
  background-size: 100% 100%;
}

.Welcome {
  height: 100%;
}

/* Welcome */
.Welcome > .Cogs {
  margin: 20px;
  float: right;
}

/* Settings */
.content {
  text-align: center;
  background-color: white;
  min-height: 100%;
  height: initial;
  padding-top: 10px;
}

.Settings > .content > div > a {
  position: relative;
  display: inline-block;
  font-size: 22px;
  padding: 16px 20px;
  color: #555;
  width: 100%;
  border-bottom: 1px dashed #CCC;
}

.Settings > .content > div > a:first-child {
   border-top: 1px dashed #CCC;
}

.Settings > .content > div > a:hover, .Settings > div > a:active {
  background: #DDD;
}

.Enjoy {  
  height: 100%;
  text-align: center;
}

.Enjoy > img.Sun {
  margin-top: 30px;
  animation: Home-sun-spin infinite 20s linear;
  height: 200px;
}

.Enjoy > .Triangle {
  position: absolute;
  bottom: 44px;
  left: calc(50% - 8px);
}

.Enjoy > .Affiliate {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    padding: 10px;
    text-align: center;
    background: #7DCBD8;
    color: white;
}

.Enjoy > .Affiliate > .affiliation-link {
  padding-left: 40px;
}

.Enjoy > .Affiliate > .affiliation-link > a {
  color: white;
}

.Enjoy > .Affiliate > .MiniLogo {
    padding: 0;
    width: auto;
    position: absolute;
    left: 10px;
    top: -5px;
}

.Clock {
  text-align: center;
  display: block;
}

.Clock .clock {
  margin: 0 auto;
  display: block;
  padding: 10px;
  border-bottom: 1px solid #EEE;
}

.Clock .clock > .time {
  font-size: 1.2em;
}

.Clock .clock > .days {
  font-size: 0.9em;
  color: #555;
}

.ClockAdd > .title {
    padding: 16px;
    background: #7dcbd8;
    color: white;
    font-size: 1.2em;
}

.ClockAdd > .title > .ActionBar {
  position: absolute;
  left: 10px;
  top: 8px;
}

.left {
  float: left;
}

.ClockAdd > .content {
  padding: 20px;
}